* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 1000vh;
    background-color: #DC2626;
    border: 3px solid rgba(0, 0, 0, 0.294);
    border-radius: 8px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    padding: 4px;
    background-color: #ffffff49;
    margin-block-start: 8px;
    border-radius: 8px;
    color: white;
}
@media (max-width:640px){
    h1 {
        font-size: 1.5em;
    }
}