doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/style.css")
        title La Fortuna :: Cafetería
    body
        header
            .logo-container 
                img.logo(src="../images/logo.jpg", alt="Logo de la fortuna")
                h1 La Fortuna
            .visitor 
                p Visitante
                //-- hitwebcounter Code START
                a(href="https://www.hitwebcounter.com", target="_blank")
                img(src="https://hitwebcounter.com/counter/counter.php?page=7954903&style=0024&nbdigits=5&type=page&initCount=0", title="Free Counter", Alt="Contador web",   border="0")                               
                                                
        main.menu
            p Descarga nuestro menú 
            a.download(href="../docs/menu.pdf", download="La-Fortuna-menú") Descagar
             
            
            .social 
                a(href="https://wa.me/525521507679") 
                    img(src="../images/icons8-whatsapp-96.png", alt="logo de whatsApp")
                a(href="https://www.instagram.com/cafeteria_la_fortuna/?hl=es-la") 
                    img(src="../images/icons8-instagram-128.png", alt="Logo de Instagram")
                a(href="https://www.facebook.com/CafeteriaLaFortuna/") 
                    img(src="../images/icons8-facebook-96.png", alt="Logo de Facebook")
    footer
            .location 
                
                a(href="https://www.google.com.mx/maps/place/Crepa+Burguer/@19.5890876,-98.9001673,21z/data=!4m5!3m4!1s0x0:0x12a56f6fe3331df1!8m2!3d19.5890521!4d-98.9002178")  
                    img(src="../images/icons8-marcador-96.png", alt="Logo de ubicación")
                    span ¿Cómo llegar?
            .location-description
                p Av. Aztecas #1 Ocopulco Chiautla | Abierto de martes a domingo de 6:00pm a11:00pm
                p Hacemos entregas a domicilio (solo en la zona). Pedidos 
                    a(href="https://wa.me/525554310874") 5554310874 
                    span  o al 
                    a(href="https://wa.me/525521507679") 5521507679. 
                p Costo adicional por servicio para llevar $3.00 por cada producto
            